{
  "printWidth": 120,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "trailingComma": "none",
  "semi": true,
  "arrowParens": "avoid",
  "jsxSingleQuote": false,
  "bracketSpacing": true
}
